.container_lista_anuncios {
	max-width: 1020px;
	background-color: #fff;
	border-radius: 12px;
	padding: 10px;
	margin: 0 auto;
}

.container_lista_anuncios h1 {
	text-align: center;
}

.tabela_anuncios {
	width: 100%;
	border-collapse: collapse;
}

.tabela_anuncios thead {
	font-size: 20px;
	background-color: #7a4df4;
}

.tabela_anuncios tbody tr {
	text-align: center;
	font-size: 18px;
}
.botao_novo_anuncio {
	width: 180px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin-bottom: 0;
}
